<!-- Opposing setup for introduction -->
<div class="opposing">
  <div class="oppposingItem">
    <img src="http://localhost:4200/assets/images/shoppingcart.png" />
  </div>
  <div class="oppposingItem">
    <h3>What is splitlist?</h3>
    <p>
      Splitlist is an App for your daily grocery-shopping. Create shoppinglists
      and easily share it with your friends and family from home! A friend or
      family member returning from work, school or hobby can shop for you on
      their way home without the cumbersome back and forth communication.
    </p>
  </div>
</div>

<!-- Opposing setup for recipes -->
<div class="opposing">
  <div class="oppposingItem">
    <h3>Not sure what's for dinner?</h3>
    <p>
      No worries! Splitlist got you covered with a whole forum of recipes from
      users around the world. Check out the forum right
      <a routerLink="recipes">here</a>.
    </p>
  </div>
  <div class="oppposingItem">
    <img src="http://localhost:4200/assets/images/recipe.jpg" />
  </div>
</div>

<!-- Opposing setup for pantry-functionality -->
<div class="opposing">
  <div class="oppposingItem">
    <img src="http://localhost:4200/assets/images/fridge.jpg" />
  </div>
  <div class="oppposingItem">
    <h3>Smarter than your average shoppinglist</h3>
    <p>
      The app does more than help you create and share shoppinglists, it even
      helps you keep track of what food you have at home. When you buy your
      groceries using Splitlist, the app updates your pantry automatically! You
      can also choose a delicious recipe from the forum, and the app will
      generate a shoppinglist based on your current pantry, saving you alot of
      unnecessary time cross checking kitchen drawers.
    </p>
  </div>
</div>

<!-- Opposing setup for envoirmental effects-functionality -->
<div class="opposing">
  <div class="oppposingItem">
    <h3>Minimizing your food waste</h3>
    <p>
      In 2020 more than
      <a
        href="https://www.theworldcounts.com/challenges/consumption/foods-and-beverages/food-waste-facts"
        >200,000,000 tons</a
      >
      of food has been wasted worldwide. By generating shoppinglist based on
      what your pantry is missing to complete a recipe, Splitlist tries to empty
      your pantry and fight the global waste of food.
    </p>
  </div>
  <div class="oppposingItem">
    <img width="600" src="http://localhost:4200/assets/images/foodwaste.jpg" />
  </div>
</div>

<!-- Download buttons -->
<h2>Download the app!</h2>
<div class="downloads">
  <button id="download" (click)="onClick()">IOS Download</button>
  <button id="download" (click)="onClick()">Android Download</button>
</div>
